.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.errorMessage {
  font-size: 0.8em;
  color: red;
  margin-left: 20px;
}

.warningMessage {
  font-size: 0.8em;
  color: gold;
  margin-left: 20px;
}